:root {
    --basic: #21c8f6;
    --light: #eee;
    --bold: #2b2b3e;
    --edit: purple;
    --danger: #ff5b57;
    --grey: #888;
    --i-u: #3a82ee;
    --i-nu: #e64b65;
    --ni-u: #ffc320;
    --ni-nu: #2ee82e;
    --shadow: 0 1px 2.5px rgba(0, 0, 0, 0.1);
    --i-u-glow: 0px 0px 4px rgb(58, 130, 238, 0.75);
    --i-nu-glow: 0px 0px 4px rgb(234, 64, 164, 0.75);
    --ni-u-glow: 0px 0px 4px rgb(255, 195, 32, 0.75);
    --ni-nu-glow: 0px 0px 4px rgb(46, 232, 46, 0.75);
}

* {
    overflow: hidden;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.main {
    margin: 0;
    padding: 0;
    margin-top: 104px;
}

.main::-webkit-scrollbar {
    display: none;
}

.input {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem;
}

h4 {
    color: #2b2b3e;
    font-size: 0.95rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    text-align: center;
}

.options ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* width: auto; */
    grid-gap: 1rem;
    margin-bottom: 1.5rem;
    margin-left: 1.3rem;
    margin-right: 1.3rem;
}

.options label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2.5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}