<header class="header">
    <nav class="menu">
        <a [routerLink]="['/']" class="menu_logo">{{ title }}</a>
        <ul class="menu__ul">
            <li class="menu__li">
                <a [routerLink]="['/home']" class="menu__link">Home</a>
            </li>
            <li class="menu__li">
                <a [routerLink]="['/']" class="menu__link">Products</a>
            </li>
            <li class="menu__li">
                <a [routerLink]="['/categories']" class="menu__link">Categories</a>
            </li>
        </ul>
        <a href="#" class="menu_call">Contact us</a>
    </nav>
</header>