<div class="title_name">
<h3>Products</h3>
</div>

<div *ngFor="let product of products">
  <div class="items">
<h3>
  <a
    [title]="product.name + ' details'"
    [routerLink]="['/products', product.id]">
    {{ product.name }}
  </a>
</h3>
  </div>
<div class="title_name">
<img src = "{{product.image}}" alt = "Product from Kaspi" width = "200px" height = "200">
<section class = "gallery">
  <div class = "container">
    <div class = "img-container">
      <div *ngFor="let image of product.images" >
        <img src={{image}} alt="product image">
      </div>
      </div>
    </div>
</section>  
</div>



  <p *ngIf= "product.description">
    Description: {{product.description}}
  </p>
   <p *ngIf = "product.rating" >
     {{product.rating}} <img src="http://cdn.onlinewebfonts.com/svg/img_397133.png" height="15" >
   </p>
   <div class="btm">
   <a href="{{product.link}}" target='_blank'> <img src ="https://avellum.com/Content/Entities/Deal/561/ru/cover.jpg" alt="Kaspi" height="40">
  </a>

  <a [routerLink]="['/products', product.id]">
    <button type="button" style = "position:relative; top:-19px; margin-left: 25px">
      Share
  </button>
  </a>
  </div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->