<h3 class="products-heading">Products</h3>
<div class="products-container">
    <div *ngFor="let product of products" class="product-item">
        <div class="items">
            <h3>
                <a [title]="product.name + ' details'" [routerLink]="['/products', product.id]">
                    {{ product.name }}
                </a>
            </h3>
        </div>
        <div class="title_name">
            <img src="{{product.image}}" alt="Product from Kaspi" width="200px" height="200">
            <section class="gallery">
                <div class="container">
                    <div class="img-container">
                        <div class="image-gallery">
                            <img *ngFor="let image of product.images" [src]="image" alt="{{ product.name }}" width="50">
                        </div>
                        <div *ngFor="let image of product.images">
                            <img src="{{image}}" alt="product image">
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <p *ngIf="product.description">Description: {{product.description}}</p>
        <p *ngIf="product.rating">{{product.rating}} <img src="http://cdn.onlinewebfonts.com/svg/img_397133.png" height="15"></p>
        <div class="btm">

            <a [routerLink]="['/products', product.id]">
                <button type="button" (click)="share(product)">Share</button>
            </a>
        </div>
    </div>
</div>
Copyright Google LLC. All Rights Reserved. Use of this source code is governed by an MIT-style license that can be found in the LICENSE file at https://angular.io/license -->